[target.'cfg(all(target_arch = "arm", target_os = "none"))']
# runner = "probe-rs run --chip RP2040"
runner = "elf2uf2-rs --deploy --serial --verbose"

[build]
target = "thumbv6m-none-eabi"

[profile.release]
# Allows defmt to display log locations even in release
debug = true
